
.selected {
   background-color: rgb(25, 194, 25);
}
/* 
.block {
   margin-top: 35px;
   width: 200px;
   height: 200px;
   background-color: rgba(255,0,215);
   cursor: pointer;
   text-align: center;
   padding-top: 25px;
} */